.profile {
  background-color: rgb(255, 255, 255);
}

.description {
  text-align: center;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
